<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.earthlink.cinemana.player" >

    <!-- For streaming media over the network. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- For reading media from external storage. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- For writing media to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>





</manifest>
